# Gradle
.gradle/
build/

# Runtime
run/

# IDE
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/

# OS
.DS_Store
Thumbs.db

# Fabric Loom
remappedSrc/
/net/
/gradle/
/docs/
0.15.0
0.16.0
0.17.0
*.ps1
/jar
/Jars
